In [30]:
 # Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [31]:
 # Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [/Users/taylorbohl/.wdm/drivers/chromedriver/mac64/101.0.4951.41/chromedriver] found in cache

In [32]:
 # URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

NASA Mars News

Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [36]:
 # Iterate through the page
for x in range(1):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = bs(html, 'html.parser')
    # Retrieve all elements that contain information
    results = soup.find_all('div')

    # Iterate through each result
    for result in results:
        # Identify and return title
        news_title = result.find_all('div', class_='content_title')[0].text        
        
        # Identify and return paragraph text
        p_text = result.find_all('div', class_='article_teaser_body')[0].text

        # Print results only if title, paragraph text are available
        if (news_title and p_text):
            print(news_title)
            print(p_text)

NASA Establishes Board to Initially Review Mars Sample Return Plans
The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.
NASA Establishes Board to Initially Review Mars Sample Return Plans
The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

IndexError: list index out of range

JPL Mars Space Images—Featured Image


Visit the URL for the Featured Space Image site.


Use Splinter to navigate the site and find the image URL for the current Featured Mars Image, then assign the URL string to a variable called featured_image_url.


Be sure to find the image URL to the full-sized .jpg image.


Be sure to save a complete URL string for this image.

In [11]:
 # URL of page to be scraped
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [16]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
#find header image tag
images = soup.find('img', class_="headerimage")
    
featured_image = images['src']
featured_image_url = f'https://spaceimages-mars.com/{featured_image}'
#print image source
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

Mars Facts


Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including diameter, mass, etc.


Use Pandas to convert the data to a HTML table string.

In [19]:
 # URL of page to be scraped
url= 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [24]:
# Covert to table, setting first row as column header
tables = pd.read_html(url, header=[0])
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
    Equatorial Diameter:                       6,792 km
 0       Polar Diameter:                       6,752 km
 1                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 2                Moons:          2 ( Phobos & Deimos )
 3       Orbit Distance:       227,943,824 km (1.38 AU)
 4         Orbit Period:           687 days (1.9 years)
 5  Surface Temperature:                   -87 to -5 °C
 6         First Record:              2nd millennium BC
 7          Recorded By:           Egyptian astronomers]

In [25]:
type(tables)

list

In [28]:
# Convert to data frame
mars_df = tables[0]
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [29]:
# Covert to html string
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres


Visit the astrogeology site to obtain high-resolution images for each hemisphere of Mars.


You will need to click each of the links to the hemispheres in order to find the image URL to the full-resolution image.


Save the image URL string for the full resolution hemisphere image and the hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image URL string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
 # URL of page to be scraped
url='https://marshemispheres.com/'
browser.visit(url)

In [ ]:
hemisphere_image_urls = []
for x in range(1, 4):

    html = browser.html
    soup = bs(html, 'html.parser')

    mars_images = soup.find_all('img', class_='thumb')

    for x in mars_images:
    img_title = mars_images.find_all('h3')[1].text
    image_path = mars_images.find_all('img')[2]["src"]
    img_url = url + relative_image_path

  # Store data in a dictionary
    hemisphere_image_urls = {
        "Title": img_title,
        "img_url": img_url
    }

    browser.links.find_by_partial_text('thumbnail').click()

In [37]:
browser.quit()